{% extends "index.html" %}
{% block body %}
<style>
#editor {
  margin: 10px;
  color: white;
  background-color: black;
}
body {
  padding: 100px;
}
</style>
{% if error %}
  {{ error }}
{% endif %}
<textarea id="editor"> {{ build.code }} </textarea>
<label>title:<input id="title" value="{{ build.title }}"></label>
<button id="save">Save</button>
<button id='buildButton'>Build</button>
<button id="in"> - </button>
<button id="out"> + </button>
<label> background: <input id="backgroundSelector"></label>
<label> box: <input id="boxColor"></label>
<button id="changeColorButton">Change Color</button>
<script type="text/javascript" src="{{ url_for('static', filename='three.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='builder.js') }}"></script>
{% endblock %}
